/* Enter your custom styles here */

.sapMSliderTickLabel .sapMSliderLabel {
    padding-top: 0.4375rem;
    height: 1rem;
    width: 2.5rem;
    left: -1rem;
    font-size: 0.75rem;
    color: #6a6d70;
}